@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  height: 100%;
}

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-weight: 700;
}

h1 {
  font-size: 44px;
  line-height: 50px;
}

h2 {
  font-size: 36px;
  line-height: 41px;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #333333;
}
