.button {
  width: 260px;
  height: 60px;
  background-color: #fc9b27;
  padding: 16px 97px;
  border: none;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
}
